.container {
    background-color: black;
}

#four__img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#four__img img {
    border-radius: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.first__img {
    margin: auto;
}

#slider {
    margin-bottom: 15px;
}

#dishes {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#dishes h1 {
    color: yellow;
    text-align: center;
}

#dishes p {
    color: white;
    font-size: 15px;
    text-align: justify;
}

#dishes p {
    
    color: white;
}

#dishes img {
    height: 383px;
}

.dishes__button {
    display: flex;
    justify-content: center;
}

#footer {
    display: flex;
    color: white;
    margin-top: 20px;
    background-color: grey;
    border-top: 1.5px solid orange;
}

.contact__info {
    padding-top: 10px;
}

.link__page {
    display: flex;
    justify-content: center;
}

.link__page a {
    margin: 25px 10px 0 0;
}

@media (max-width: 500px) {
    #dishes p {
        font-size: 18.5px;
        text-align: justify;
    }
    
    #dishes img {
        margin-top: 20px;
        width: 325px;
        height: 200px;
    }

    #footer {
        flex-direction: column;
        font-size: large;
    }
}