#shoes__banner {
    padding: 0;
}

#shoes__banner img {
    width: 100vw;
}

h2 {
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.service__item {
    /* vị trí cố định(có nghĩa là nó vẫn di chuyển khi screen đồ thay đổi kích thước(như bth)
    nhưng nó sẽ là trục cố định cho các thẻ bên trong di chuyển theo trục của nó) */
    position: relative;
}

.service__item.info {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    /* thằng này sẽ gắn absolute để di chuyển bên trong thằng relative
    trong TH này là bootom: 0; */
    position: absolute;
    bottom: 0;
    /* với để màu nền chiếm hết chiều rộng của service__item thì width: 100%;
    so với cột của nó */
    width: 100%;
}

.service__item img {
    /* width: 100%; so với cột của nó */
    width: 100%;
}

.service__item.info h3 {
    padding-left: 20px;
    font-size: 21px;
}

.service__item.info p {
    color: white;
    padding-left: 10px;
    font-size: 18px;
}

#service__item {
    margin-bottom: 10px;
}

#combo p {
    color: gray;
    font-size: 17px;
}

.item {
    background-color: rgb(196, 195, 195);
    padding: 10px 10px 1.5px 10px;
    font-size: 13px;
}

.item__combo {
    border-bottom: 2px dashed;
}

#special h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

#special p {
    color: gray;
    font-size: 17px;
    margin-bottom: 30px;
}

.contact {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    background-color: black;
}

@media (max-width: 500px) {
    .contact {
        margin-bottom: 3px;
    }

    .item__combo.first-child {
        color: red;
        border-bottom-color: black;
    }
}